.single-video-page{
    background-color:var(--primary-background-color);
    width:100%;
    gap: 2rem;
    display: flex;
    box-sizing: border-box; 
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.md-20{
    font-size:1.25rem;
}

.mg-left-4px{
    margin-left:4px;
}

.mg-left-8px{
    margin-left:8px;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.suggested-videos-container{
    width: 30%;
    gap: 1.5rem;
}

.sm-hz-video-card{
    width:100%;
    height:6.5rem;
    box-sizing: border-box;
    cursor: pointer;
}

.sm-card-thumbnail{
    width: 47%;
    height: 100%;
}

.sm-card-video-details{
    width: 53%;
    gap: 8px;
}


.sm-card-views{
    color: var(--light-font-color);
    font-size: 12px;
}

.sm-card-uploadedTime{
    font-size: 12px;
}

.gap-8px{
    gap: 8px;
}

.light-font{
    color: var(--light-font-color);
}