.main-header{
    width:100%;
    display: flex;
    flex-direction: row;
    position:fixed;
    z-index:4;
    /* border-top: 1px solid var(--light-border-color);
    border-bottom: 1px solid var(--light-border-color); */
    background-color: var(--secondary-background-color);
    gap:0.75rem;
    align-items: center;
    padding: 10px 16px;
    height: 2.25rem;
}

.category-btn{
    font-size: 1rem;
    width: max-content;
    padding: 7px 12px;
    border-radius:12px;
    color:var(--font-color);
    background-color: var(--background-accent);
    cursor: pointer;
    
}

.category-input:checked~.category-btn{
    background-color: var(--brand-color);
    border:1px solid var(--brand-color);
}

.category-input{
    cursor: pointer;
    position: absolute;
    opacity:0
}

.category-btn:hover{
    background-color: var(--background-accent-two);
}

@media screen and (max-width:768px){
    /* .app{
        background-color: var(--secondary-background-color);
    } */
    .main-header{
        width: 100%;
        overflow-x:scroll;
        scroll-behavior: smooth;
        display: flex;
        gap: 12px;
    }

    .main-header::-webkit-scrollbar{
        display: none;
    }

    .category-btn{
        display: flex;
        flex-wrap: nowrap;
    }
    
}