@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}

.landing-page{
    display: flex;
    flex-direction: row;
    height:auto;
    width: 100%;
    margin-bottom: 8.55rem;
}

.main-section{
    position: relative;
    top: 79px;
    left: 253px;
    display: flex ;
    flex-direction: column;
}

.main-cards-container{
    top: 58px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 254px);
    height: fit-content;
    gap: 1rem;
    padding: 1.25rem 1rem;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    background-color:var(--primary-background-color);
}
