@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}

.landing-page{
    display: flex;
    flex-direction: row;
    height:auto;
    width: 100%;
    margin-bottom: 7.5rem;
}

.main-section{
    position: relative;
    top: 64px;
    left: 264px;
    display: flex ;
    flex-direction: column;
}

.main-cards-container{
    top: 56px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 251.225px);
    height: fit-content;
    gap: 1rem;
    padding: 1.25rem 1rem;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    background-color: var(--secondary-background-color);
}

::-webkit-scrollbar{
    width:17px;
    background-color: var(--secondary-background-color);
}

::-webkit-scrollbar-thumb{
    background-color:var(--scrollbar-thumb);
    -webkit-border-radius:8px;
    border: 4px solid var(--secondary-background-color);
}